[run]
source = lambdora
branch = True
omit =
    */tests/*
    */test_*.py
    */test.py
    */__init__.py
    */__pycache__/*
    */venv/*
    */__pycache__/*
    */main.py
    */printer.py   

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

show_missing = True

[html]
directory = htmlcov
